html,body {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 24px;
}

html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, img, table div{
    margin: 0;
    padding: 0;
    border: 0;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif
}

.slim{
    font-weight: 300;
}

.fat{
    font-weight: 700;
}